@page "/"
@using BlazorAppTest.Domain.Interfaces
@inject ILocationService LocationService

<PageTitle>BlazorTest - Hjem</PageTitle>

<h1>Velkommen til BlazorTest</h1>

<nav class="flex-column">
    <div class="nav-item px-3">
       
        @if (locations.Count > 0)
        {
            <ul>
                @foreach (var location in locations)
                {
                    <NavLink class="nav-link" href="@location.Name" Match="NavLinkMatch.All">
                        @location.Name
                    </NavLink>
                }
            </ul>
        }
        else
        {
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Der er ingen afdelinger
            </NavLink>
        }
    </div>
</nav>


@code {
    private IList<Domain.Location> locations = [];
    
    protected override async Task OnInitializedAsync()
    {
        locations = await LocationService.GetLocations().ToArrayAsync();
        StateHasChanged();
    }
}