@page "/"
@using BlazorAppTest.Domain.Interfaces
@inject ILocationService LocationService

<PageTitle>BlazorTest - Hjem</PageTitle>

@if (locations.Count > 0)
{
    <ul>
        @foreach (var location in locations)
        {
            <li>@location.Name</li>
        }
    </ul>
}
else
{
    <p><em>Der er desværre ingen afdelinger..</em></p>
}

@code {
    private IList<Domain.Location> locations = [];
    
    protected override async Task OnInitializedAsync()
    {
        locations = await LocationService.GetLocations().ToArrayAsync();
        StateHasChanged();
    }
}