@page "/"
@using BlazorAppTest.Domain.Interfaces
@using BlazorAppTest.Components.Shared
@inject ILocationService LocationService

<PageTitle>BlazorTest - Hjem</PageTitle>

<h1 class="mb-1">Velkommen til BlazorTest</h1>
<p class="mb-1">Vælg en af afdelingerne herunder,<br/>
    for at se åbningstider og billeder fra stedet.</p>

<nav class="">
    @if (locations.Count > 0)
    {
        @foreach (var location in locations)
        {
            <NavLink class="mb-1" href="@location.Name" Match="NavLinkMatch.All">
                <h2>@location.Name - <LocationIsOpen Location="@location"></LocationIsOpen> </h2>
                <p class="text-grey">@location.Address</p>
            </NavLink>
        }
    }
    else
    {
        <NavLink class="" href="" Match="NavLinkMatch.All">
            Der er ingen afdelinger
        </NavLink>
    }
</nav>


@code {
    private IList<Domain.Location> locations = [];

    protected override async Task OnInitializedAsync()
    {
        locations = await LocationService.GetLocations().ToArrayAsync();
        StateHasChanged();
    }

}